<div class="mycontainer">
  <header class="header">
    <img src="/images/angular.jpg" alt="">
    <h1>COFORGE TECHNOLOGIES</h1>
  </header>
</div>

<nav class="mynav">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/emp">DataBinding</a></li>
    <li><a routerLink="/pipes">pipes</a></li>
    <li><a routerLink="/about">About us</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/team">Team</a></li>
    <li><a routerLink="/parent">Communication</a></li>
    

    <!--dropdown menu-->
    <li class="dropdown">
      <span>Forms</span>
      <ul class="dropdown-menu">
        <li><a routerLink="/contact">Template Form</a></li>
        <li><a routerLink="/trainee">2 way Data DataBinding</a></li>
        <li><a routerLink="/auth">Reactive Form</a></li>
      </ul>
    </li>
  </ul>
</nav>

<main class="main-content">

  <!--The routed views render  in the <router-outlet>-->
  <!--displays child components-->

  <router-outlet></router-outlet>

</main>
<footer class="myfooter">
  <p>&copy;2024 Coforge Ltd.</p>
</footer>